.container {
  &__nav {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 20px 0;
    &--logo {
      img {
        max-width: 90px;
        width: 100%;
      }
    }
    &--login {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
      .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: var(--poppins-font-family);
        font-size: 12px;
        font-weight: var(--poppins-font-weight-medium);
        font-style: var(--poppins-font-style-normal);
        color: var(--primary-blue);
        text-transform: uppercase;
        &:before {
          content: var(--svg-icon-login);
          display: block;
          position: relative;
          width: 24px;
          height: 24px;
        }
      }
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 4rem;
      height: 1.5rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0 15px;
      z-index: 10;
      @media (min-width: 768px) {
        display: none;
      }
      .line1,
      .line2,
      .line3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
          width: 2rem;
          height: 0.25rem;
          background: #333;
          transition: all 0.3s linear;
          position: relative;
          transform-origin: 1px;
        }
      }
      .line1,
      .line2,
      .line3 {
        span:nth-child(1) {
          border-radius: 2rem 0 0 2rem;
        }
        span:nth-child(2) {
          border-radius: 0 2rem 2rem 0;
        }
      }

      &.active {
        .line1 {
          span:nth-child(1) {
            transform: rotate(45deg) translateX(5.5px) translateY(5.5px);
            transform-origin: right;
          }
          span:nth-child(2) {
            transform: rotate(-45deg) translateY(5.5px) translateX(-5.5px);
          }
        }
        .line2 {
          span:nth-child(1) {
            transform: translateX(-20px);
            opacity: 0;
          }
          span:nth-child(2) {
            transform: translateX(20px);
            opacity: 0;
          }
        }
        .line3 {
          span:nth-child(1) {
            transform: rotate(-45deg) translateX(5.5px) translateY(-5.5px);
            transform-origin: right;
          }
          span:nth-child(2) {
            transform: rotate(45deg) translateX(-5.5px) translateY(-5.5px);
          }
        }
      }
    }

    &--menu {
      display: none;
      z-index: 10;
      &.open {
        display: block;
      }
    }
    &--submenu {
      max-width: 1500px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      .list {
        &__menu {
          display: none;
          flex-direction: column;
          justify-content: center;
          column-gap: 4%;
          row-gap: 10px;
          list-style: none;
          margin-block-start: 0;
          margin: 0;
          padding-inline-start: 0;
          @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
          }
          li {
            a {
              max-width: -moz-fit-content;
              max-width: fit-content;
              width: 100%;
              display: flex;
              padding: 5px 8px;
              border: 1px solid var(--primary-yellow);
              border-radius: 5px;
              font-family: var(--poppins-font-family);
              font-size: 14px;
              font-weight: var(--poppins-font-weight-medium);
              font-style: var(--poppins-font-style-normal);
              color: var(--primary-yellow);
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
