:root {
  --white: #ffffff;
  --black: #1d1d1b;

  //Neutrals (grises)
  --grey1: #f6f6f6; // Whisper Grey
  --grey2: #f1f1f1; // Pale Grey
  --grey3: #dedede; // Concrete
  --grey4: #969696; // Mid Grey
  --grey5: #636363; // Dark Grey
  --grey6: #2a2a2a; // Charcoal

  //Primary Colors

  --primary-blue: #0d3b66; // Dark Blue
  --primary-beige: #faf0ca; // Beige
  --primary-yellow: #f4d35e; // Yellow
  --primary-light-orange: #ee964b; // Light Orange
  --primary-dark-orange: #f95738; // Dark Orange

  --secondary-blue: #1b262c; // Dark Blue
}

a {
  text-decoration: none;
}

.container {
  &__section {
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 1500px;
    }
  }
}
